@font-face {
    font-family: "Akkurat";
    src: url("../fonts/FontsFree-Net-Akkurat.ttf");
}

html {
    scroll-padding-top: 70px; /* height of sticky header */

}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
    transition: margin-left .4s;
    font-family: Akkurat, sans-serif;
    background: #000;
    color: #fff;
}

.navbar, #hero, #about, #news, #musics, #projects, #events, #photos, #contact .info {
    border-bottom: 2px solid #fff;
}

/*fixed nav */
.navbar {
    border-bottom: 2px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 65px;
    color: #fff;
    background: #000;

}

.navbar {
    height: 70px;
}

.navbar:hover {
    cursor: pointer;
    background: #fff;
    color: black;
}

.navbar:hover .logo, .navbar:hover .navbar-link, .navbar:hover .nav-toggle {
    background: #fff;
    color: #000;
}

.navbar .logo:hover, .navbar .navbar-link:hover {
    color: #5b5959;
}

.navbar .logo {
    font-size: 4em;
}

.navbar .logo {
    font-size: 4em;
}

@media (max-width: 765px) {
    .navbar {
        border-bottom: 0;
    }
}

@media (max-width: 53.82em) {
    .navbar .logo {
        font-size: 3em;
    }
}

main {
    margin-bottom: 50px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .main {
    padding-top: 102px;
}

.section {
    margin: auto;
    /*padding: 50px;*/
}

.title {
    text-align: center;
}

#hero {
    min-height: 100vh;
}

/*manage the vide player and pause*/
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.play-btn {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    bottom: 3%;
    left: 7%;
    transition: 0.6s;
}

.volume-btn {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    bottom: 3%;
    left: 12%;
    transition: 0.6s;
}

@media (max-width: 765px) {
    .play-btn {
        font-size: 15px;
        cursor: pointer;
        user-select: none;
        position: absolute;
        bottom: 3%;
        left: 3%;
        transition: 0.6s;
    }

    .volume-btn {
        font-size: 15px;
        cursor: pointer;
        user-select: none;
        position: absolute;
        bottom: 3%;
        left: 15%;
        transition: 0.6s;
    }
}

#news {
    display: flex;
    justify-content: flex-start;
}

#news img {
    margin-right: 75px;
}

#news .section-content h2 {
    font-size: 12em;
    text-transform: uppercase;
}

.news-table  {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 6rem;
}
.news-table .card{
    text-align: center;
    justify-self: center;
    padding-top: 2.5rem;
}
.news-table .card {
    background: #000;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 1.2rem #fff;
    margin: 0.75rem 0 1.5rem;
    position: relative;
    max-width: 35rem;
    color: #fff;
}

.news-table .card-body {
    padding: 2rem;
    text-align: center;
}
@media (max-width: 56.25em) {
    .news-table .card-body {
        padding: 0;
    }
}
.news-table .card-heading {
    font-size: 2rem;
    font-weight: bold;
}
@media (max-width: 56.25em) {
    .news-table .card {
        padding: 1rem;
    }
}

/*.info {*/
/*    display: grid;*/
/*    grid-gap: 1rem;*/
/*    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));*/
/*    padding-bottom: 6rem;*/
/*}*/

/*.info .card {*/
/*    text-align: center;*/
/*    justify-self: center;*/
/*    padding-top: 2.5rem;*/
/*}*/

/*.info .card:last-child {*/
/*    margin-right: 0;*/
/*}*/

/*@media (max-width: 1200px) {*/
/*    .info {*/
/*        flex-wrap: wrap;*/
/*        justify-content: center;*/
/*    }*/
/*}*/

/*.card i {*/
/*    font-size: 10rem;*/
/*}*/

/*.feature {*/
/*    align-items: center;*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 3rem 0;*/
/*}*/

/*.feature > div,*/
/*.feature > img {*/
/*    padding: 1rem;*/
/*}*/

.footer {
    background: #111;
    color: #eee;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    text-align: center;
}

.footer a {
    color: #eee;
}

.footer a:hover {
    color: orangered;
}

@media (max-width: 37.5em) {
    .footer {
        justify-content: initial;
        flex-direction: column;
    }
}

.top-link {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 1.25rem;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
    animation: bounce 2s ease-in-out infinite;
    transition: 0.4s;

}

.top-link:hover {
    background: #000;
    color: #fff;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

/* about section */

